
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'Library_app/cdnlines.html' %}
    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'home' %}">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'studentpanel' %}">Home</a>
        </li>



      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4" style="text-align: center">Welcome To Student Panel</h1>

  <hr class="my-4">
  <p>Some Options Are Given To perform Operation On Student Panel</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'student' %}" role="button">Get All Books</a>

  </p>
</div>

</body>
</html>