{% extends 'Library_app/base.html' %}

{% block content %}
    {% include 'Library_app/navbar.html' %}
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="{% url 'updatesave' book.id %}" >
                {% csrf_token %}

                <label>Enter Book Name:</label>
                <input type="text" name="book_name" class="form-control" value="{{ book.book_name }}">


                <label>Enter Book Price:</label>
                <input type="number" name="book_price" class="form-control" value = {{ book.book_price }}>

                <label>Enter Pages of Book</label>
                <input type="number" name="book_pages" class="form-control" value ="{{ book.book_pages }}">

                <label>Enter Author Name:</label>
                <input type="text" name="book_author" class="form-control" value="{{ book.book_author}}">


                <label>Enter Name of Publisher</label>
                <input type="text" name="book_publisher" class="form-control" value = "{{book.book_publisher}}">

                <input type="submit" value="Update" class="btn btn-success">
                <input type="reset" value="Cancel" class="btn btn-danger">

            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
