<{% extends 'Library_app/base.html' %}

{% block content %}
    {% include 'Library_app/navbar.html' %}
    <body style="background-color: lightsalmon">
    <div class="container-fluid">
        <h2 style="text-align: center">User Details Are...</h2>
        <div class="row">
            <div class=" offset-md-3 col-lg-6">
            {% if users %}

                <table class="table table-bordered bg-white">
                    <thead>
                    <tr>
                        <td>user ID:</td>
                        <th>User Name</th>
                        <th> Eamil</th>
                        <th>firstname</th>
                        <th>lastname </th>
                        <th>last login </th>
                        <th>date joined </th>
                        <th>Active user</th>
                        <th>satff user</th>
                        <th>Superuser</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email}}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name}}</td>
                            <td>{{ user.last_login}}</td>
                            <td>{{ user.date_joined}}</td>
                            <td>{{ user.is_active}}</td>
                            <td>{{ user.is_staff}}</td>
                            <td>{{ user.is_superuser}}</td>



                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No User Are Available:</h2>
            {% endif %}

            </div>
        </div>
    </div>
    </body>
{% endblock %}



